PORT=3001
MONGO_URI=mongodb://localhost:27017/eventmila
SECRET_KEY=tu_clave_secreta
GOOGLE_CLIENT_ID=tu_id_de_google_cloud
GOOGLE_CLIENT_SECRET=tu_secret_de_google_cloud
GOOGLE_CALLBACK_URL=http://localhost:3001/api/auth/google/callback